@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --bg-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
}

.app {
  width: 500px;
  margin: 0 auto;
  background: url(./images/alain-BqkbDOVoiyk-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
}

.app.warm {
  background: url(./images/marek-piwnicki-4PTfF-svS3Y-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
}

main {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
  );
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.search-container .search-bar input {
  font-size: 1.2em;
  padding: 0.5em;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  color: #222;
}

.weather-container {
  text-align: center;
  color: #ddd;
  margin-top: 3em;
}

.weather-container .location {
  font-size: 3em;
  font-weight: 400;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

.weather-container .date {
  margin-top: 0.3em;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 300;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  color: #eee;
}

.weather-container .temp {
  margin-top: 0.4em;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  padding: 0.4em 0.25em;
  font-size: 6em;
  font-weight: 700;
  color: #fff;
  border-radius: 0.45em;
}

.weather-container .weather {
  margin-top: 0.5em;
  font-size: 2.25em;
  color: #eee;
  font-weight: 400;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

@media (max-width: 499px) {
  .app {
    width: 100%;
  }
}
